<div>
  <div class="w-1/2 mx-auto">
    <div class="mb-2 text-lg text-white bg-[#64748b] pl-2 py-1">How to Run the Project:</div>

    <ul class="space-y-1 text-black list-decimal list-inside text-sm pl-2 py-1 bg-[#d1d5db]">
      <li>
        Go to https://www.paved.com/tools/email_headers
      </li>
      <li>
        Enter Email Address in first input
      </li>
      <li>
        Enter Post URL in second input
      </li>
      <li>
        Copy the url from Ngrok and update the below url accordingly(don't forget to add the last part "/email_validator/validate"),
        it should be something like this
        https://e1b0-182-185-218-167.ngrok-free.app/email_validator/validate
      </li>
      <li>
        After hitting Send Headers button, server should receive hit from paved.com
        and below table will be populated with results.
      </li>
    </ul>
  </div>

  <div id="email-address" class="w-1/2 m-auto mt-6 text-lg text-white pl-2 py-1 bg-[#64748b]">
    Waiting for validation...
  </div>

  <div class="w-1/2 mx-auto mt-6 overflow-x-auto rounded-lg border border-gray-200">
    <table class="min-w-full md:w-full divide-y-2 divide-gray-200 bg-white text-sm">
      <thead>
        <tr class="text-white bg-[#64748b]">
          <th class="whitespace-nowrap px-4 py-2 font-medium">Validation Name</th>
          <th class="whitespace-nowrap px-4 py-2 font-medium">Check Result</th>
        </tr>
      </thead>

      <tbody class="divide-y divide-gray-200">
        <tr>
          <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-center bg-[#d1d5db]">SPF or DKIM Email Authentication</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700 capitalize text-center" id="spf-dkim-auth">-</td>
        </tr>

        <tr>
          <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-center bg-[#d1d5db]">DNS Records</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700 capitalize text-center" id="dns-records-validation">-</td>
        </tr>

        <tr>
          <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-center bg-[#d1d5db]">TLS Verification</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700 capitalize text-center" id="tls-verification">-</td>
        </tr>

        <tr>
          <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-center bg-[#d1d5db]">Message Format Validation</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700 capitalize text-center" id="message-format-validation">-</td>
        </tr>

        <tr>
          <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-center bg-[#d1d5db]">Unsubscribe Link</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700 capitalize text-center" id="unsub-link">-</td>
        </tr>

        <tr>
          <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-center bg-[#d1d5db]">DMARC email authentication:</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700 capitalize text-center" id="dmarc-email-auth">-</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
